# 微信开发者工具
project.config.json
.DS_Store
*.log
node_modules/

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# 系统
Thumbs.db
ehthumbs.db
Desktop.ini

# 后端
server/node_modules/
server/data/
server/package-lock.json
